@font-face {
  font-family: 'London Tube';
  src: url('/fonts/London-Tube.ttf');
}

/***********generic styles*******************/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'London Tube';
}

ul {
  list-style: none;
  padding: 0px 8px 0px 13px;
  height: 100%;
}

button {
  color: white;
  background-image: linear-gradient(to top,#164B79 0%,#164B79 2px,#1A5A92 2px,#3F75A4 100%);
  border-radius: 5px;
  border: 1px solid rgb(22, 75, 121);
}

button:hover {
  background-image: linear-gradient(#315b7f,#123f67);
}
/***********Map******************************/

#map {
  height: 100vh;
  width: 100%;
}

body.has-active-menu {
  overflow: hidden;
}

.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}


/***********Logo*****************************/

.tube-logo {
  height: 323px;
  width: 323px;
  position: absolute;
  top: calc(50vh - 161px);
  left: -161px;
  border: 55px solid #dc241f;
  border-radius: 171px;
  box-sizing: border-box;
  transition: background, 0.3s;
}

.tube-logo:hover {
  background-color: white;
}

.tube-logo h1 {
  font-size: 44px;
  margin: 0.67em 0;
  background: #0019a8;
  width: 400px;
  position: absolute;
  left: -44%;
  text-align: center;
  line-height: 68px;
  top: 22%;
  color: white;
  text-transform: uppercase;
  height: 62px;
  transition: box-shadow, 0.2s;
}

/***********panes****************************/
.c-menu {
  position: fixed;
  z-index: 200;
  background-color: #EEE;
  transition: transform 0.3s;
}

.c-menu--slide-left {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
}

.c-menu header {
    background-color: #2D3039;
    color: #fff;
}

.c-menu main {
    padding: 0 10px;
}

.c-menu h2 {
  height: 40px;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
  padding: 7px 10px;
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  line-height: 40px;
}

.c-menu__close:focus {
  outline: none;
}

i.fa.fa-hand-o-left {
    padding-left: 20px;
}

.c-menu__items {
  list-style: none;
  margin: 0;
  padding: 0px 0px 0px 0px;
}

.c-menu--slide-left {
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.c-menu--slide-left.is-active {
  transform: translateX(0);
}

.c_menu__items .c-menu__item ul li {
  float: left;
}

ul.c-menu__items .c-menu__item ul li {
  float: left;
  height: 50%;
  text-align: left;
  overflow: hidden;
  line-height: 39px;
  font-size: 16px;
}

button.submit {
  width: 100%;
  height: 40px;
}

.input-container {
  border: 1px solid #cccccc;
  box-sizing: border-box;
  margin: 5px 0px;
}

nav.c-menu {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.c-menu__item form select {
  border-radius: 0px;
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  padding: 0px 12px;
  font-size: 16px;
  background-color: #fff;
  box-sizing: border-box;
  border: 0px;
  border-top: 3px solid #e6e6e6;
  color: #a2a3aa;
}

/***********Train Pane***********************/

li.c-menu__item.train {
  height: 80px;
  border: 1px solid #cccccc;
  margin-top: 5px;
}

c-menu__item.train {
    color: white;
}

li.from,
li.to {
  width: 25%;
}

li.originName,
li.destinationName {
  width: 70%;
}

/***********Login Pane***********************/

button.login {
  width: 49%;
  height: 40px;
  color: white;
  background-image: linear-gradient(to top,#164B79 0%,#164B79 2px,#1A5A92 2px,#3F75A4 100%);
  border-radius: 5px;
  border: 1px solid rgb(22, 75, 121);
  box-sizing: border-box;
}

form.login input {
  border-radius: 0px;
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  padding: 0px 12px;
  font-size: 16px;
  background-color: #fff;
  box-sizing: border-box;
  border: 0px;
  border-top: 3px solid #e6e6e6;
  color: #a2a3aa;
}


form.login button.submit.login {
  width: 100%;
}

/***********Register Pane********************/

button.register {
  width: 49%;
  height: 40px;
  color: white;
  background-image: linear-gradient(to top,#164B79 0%,#164B79 2px,#1A5A92 2px,#3F75A4 100%);
  border-radius: 5px;
  border: 1px solid rgb(22, 75, 121);
  margin-top: 4px;
}

form.register input {
  border-radius: 0px;
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  padding: 0px 12px;
  font-size: 16px;
  background-color: #fff;
  box-sizing: border-box;
  border: 0px;
  border-top: 3px solid #e6e6e6;
  color: #a2a3aa;
}

form.register button.submit.register {
  width: 100%;
}

/**********media queries************/

@media all and (min-width: 320px) {
  .c-menu--slide-left {
    width: 300px;
  }
}

@media all and (min-width: 320px) {
  .c-menu--slide-left {
    transform: translateX(-300px);
  }
}
